@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

:root {
  --first-color: #1b262c;
  --second-color: #0f4c75;
  --third-color: #3282b8;
  --fourth-color: #bbe1fa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}
body {
  overflow-x: hidden !important;
  font-family: "Poppins", sans-serif;
}
ol,
ul,
p {
  margin: 0;
  padding: 0;
}
::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: var(--second-color);
}
::selection {
  text-shadow: none;
  color: #fff;
  background: var(--second-color);
}
iframe {
  max-width: 100%;
  border-radius: 15px;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none;
}
button,
button[type="submit"],
input[type="submit"] {
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
img {
  max-width: 100%;
  height: auto;
}
.btn,
.btn:hover,
.btn:focus,
.btn:active {
  box-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.card {
  border: none;
}

/* !NAVBAR */
.navbar-brand-1 {
  font-size: 26px;
  line-height: 54px;
  color: var(--fourth-color) !important;
  padding-left: 20px;
}
.navbar-brand-2 {
  font-size: 26px;
  line-height: 54px;
  color: var(--second-color) !important;
  padding-left: 20px;
}
.navbar-brand-1 img,
.navbar-brand-2 img {
  width: 50px;
  margin-bottom: 15px;
}
.navbar-brand-1 span,
.navbar-brand-2 span {
  margin-left: 15px;
}
.navbar-brand-1 b {
  color: var(--fourth-color);
  font-weight: bolder;
}
.navbar-brand-2 b {
  color: var(--second-color);
  font-weight: bolder;
}
.nav-color {
  background-color: var(--second-color);
  transition: all ease-in-out 0.5s;
  box-shadow: 0px 4px 20px #38383889;
}
.nav-color-2 {
  background-color: #eaeaea;
  transition: all ease-in-out 0.5s;
  box-shadow: 0px 4px 20px #38383889;
}
.bg-transparent,
.bg-transparent-2 {
  transition: all ease-in 0.5s;
}
.active-1 {
  color: var(--fourth-color) !important;
}
.active-2 {
  color: var(--second-color) !important;
}
.nav-link-1 {
  font-size: 22px;
  color: rgba(187, 225, 250, 0.5);
}
.nav-link-2 {
  font-size: 20px;
  color: rgba(48, 91, 119, 0.63);
}
.nav-link-1:hover,
.nav-link-1:focus,
.login-1 {
  color: var(--fourth-color);
}
.nav-link-2:hover,
.nav-link-2:focus,
.login-2 {
  color: var(--second-color);
}
.login-1 {
  color: var(--fourth-color);
}
.login-2 {
  color: var(--second-color);
}
.login-1 img,
.login-2 img {
  margin-left: 15px;
}
@media only screen and (max-width: 620px) {
  .navbar {
    display: block;
    width: 100%;
    padding: 0 !important;
    padding-top: 12px !important ;
    padding-bottom: 10px !important ;
    position: unset !important;
    z-index: 3;
  }
  .nav-color {
    background-color: var(--second-color);
    transition: all ease-in-out 0.5s;
  }
  .nav-color-2 {
    background-color: #eaeaea;
    transition: all ease-in-out 0.5s;
  }
  .bg-transparent {
    transition: all ease-in 0.3s;
  }
  .nav-link-1,
  .nav-link-2 {
    padding: 20px 0px 20px 0px !important;
  }
  .nav-link-1 a,
  .nav-link-2 a {
    margin-top: 100px !important ;
  }
  .navbar-brand-1,
  .navbar-brand-2 {
    position: relative;
    right: 35px;
    top: 5px;
  }
  .navbar-brand-1 span,
  .navbar-brand-2 span {
    margin-left: 8px;
  }
  .navbar-links {
    position: fixed;
    top: -275px;
    left: 0;
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 1450px) {
  .navbar {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  .nav-link-1,
  .nav-link-2 {
    font-size: 25px;
    font-weight: 400;
  }
}

.hamburger-menu {
  width: max-content;
}
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  display: none;
  position: fixed;
  top: 50px;
  right: 0px;
  margin-right: 30px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__box2 {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 400px;
  height: 100%;
  margin: 0;
  padding: 20px 0;
  list-style: none;
  background-color: #eaeaea;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: none;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #3b9ada;
  transition-duration: 0.25s;
}
@media only screen and (max-width: 620px) {
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
  }
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 400px;
  height: 100%;
  margin: 0;
  padding: 20px 0;
  list-style: none;
  background-color: var(--second-color);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
@media only screen and (max-width: 479px) {
  .menu__box {
    width: 100vw !important;
  }
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #d9d9d9;
  border-top: 1px solid #fff;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: var(--first-color);
  color: #fff;
}
.logo-off-canvas {
  display: flex;
  padding: 0px 20px;
  margin-left: 30px;
}
.logo-off-canvas img {
  width: 50px;
  height: auto;
  margin-bottom: 1em;
}
.logo-off-canvas h4 {
  font-size: 22px;
  margin-top: 0.5em;
  color: var(--fourth-color);
}
@media only screen and (max-width: 479px) {
  .logo-off-canvas h4 {
    font-size: 30px;
  }
  .logo-off-canvas img {
    width: 18%;
    height: auto;
  }
}

/* !HEADER */
.header-detail-hospitals {
  margin-top: 184px;
  margin-left: 100px;
  padding-bottom: 73px;
}
.title-header {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  width: 500px;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  color: var(--second-color);
  padding: 10px;
  padding-top: 20px;
  padding-left: 15px;
  margin-bottom: 20px;
}
.title-header h5 {
  font-weight: 600;
}
@media only screen and (max-width: 620px) {
  .title-header {
    width: 100%;
  }
}
.header-img-2 {
  margin-top: 85px;
}
.img-header-1 {
  width: 560.04px;
  height: 378.95px;
}
.img-header-2 {
  width: 251px;
  height: 109.67px;
  margin-bottom: 20px;
}
.img-header-3 {
  margin-bottom: 20px;
}
/* !DETAIL HEADER */
.detail-header-hospitals {
  position: relative;
  /* left: 10px; */
}
.accordions {
  overflow-x: hidden;
  box-shadow: 2px 8px 20px 2px rgba(0, 0, 0, 0.05);
  margin-top: 30px;
  margin-right: 3rem;
  width: 100%;
}
.accordion-explanation {
  width: 100%;
  color: #1b262c;
  overflow: hidden;
}

.acc-label {
  display: flex;
  justify-content: space-between;
  padding: 0px 1em 0px 1em;
  background: #fff;
  font-weight: 100;
  cursor: pointer;
}
.detail-hospital h3 {
  width: 440px;
  height: 60px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  padding-top: 15px;
  padding-left: 29px;
  color: #0f4c75;
}
@media only screen and (max-width: 620px) {
  .detail-hospital h3 {
    width: 100%;
  }
}
.acc-label::after {
  content: ">";
  background: url(/image/penyakit/btn-accordion.svg);
  background-repeat: no-repeat;
  width: 2em;
  height: 1em;
  margin-top: 30px;
  text-align: center;
  transition: all 0.4s ease;
}
.acc-label img {
  width: auto;
  height: 40px;
  margin-top: 13.5px;
}
.acc-content {
  max-height: 0;
  padding: 0 1em;
  transition: all 0.4s ease;
  border-top: 1px solid rgba(0, 0, 0, 0.137);
  margin-left: 15px;
  margin-right: 15px;
}
.acc-content p {
  color: rgba(26, 37, 43, 0.5);
  font-weight: 500;
  font-size: 17px;
}
@media only screen and (max-width: 991px) {
  .acc-content p {
    font-size: 15px;
  }
}
.title-label h5,
p {
  margin: 0;
  margin-left: 1rem;
  font-size: 18px;
}

.title-label h5 {
  color: var(--second-color);
  font-size: 16px;
  height: 25px;
  margin-top: 8px;
  padding: 0px 1rem 0px 0px;
}
.title-label p {
  color: rgba(26, 37, 43, 0.5);
  font-size: 14px;
  font-weight: 600;
  height: 25px;
  margin-bottom: 10px;
  padding: 0;
}
.label-1 {
  margin-right: 100px;
}
.label-2 {
  margin-right: 26px;
}
.label-3 {
  margin-right: 55px;
}
.label-4 {
  margin-right: 0;
}
input {
  position: absolute;
  opacity: 0;
  z-index: 1;
}
input:checked + .acc-label::after {
  transform: rotate(90deg);
}
input:checked ~ .acc-content {
  max-height: 100vh;
  padding: 1em;
}
/* !SERICE HOSPITAL */
.service-hospital {
  margin-bottom: 7rem;
}
.main-fasilitas h5 {
  padding-bottom: 25px;
}
.bi-check-circle {
  background: rgba(36, 71, 249, 0.2);
  color: rgba(36, 71, 249, 1);
}
.fasilitas-1 span,
.fasilitas-2 span,
.fasilitas-3 span,
.fasilitas-4 span {
  margin-left: 12px;
}
.fasilitas-1,
.fasilitas-2 {
  padding-bottom: 20px;
}
.main-fasilitas-2 {
  margin-left: 40px;
}
.main-fasilitas-2 h5 {
  padding-bottom: 25px;
}
/* !GAELERI RUMAH SAKIT */
.galery-rumah-sakit {
  height: 100vh;
}
.galery-rumah-sakit h5 {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 30px;
  color: rgba(18, 18, 18, 0.75);
}
.galeri-1,
.galeri-2,
.galeri-3,
.galeri-4 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.back-menu {
  display: none;
}

@media (max-width: 620px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* !NAVBAR */
  .navbar {
    display: block;
    width: 100%;
    padding: 0 !important;
    padding-top: 12px !important ;
    padding-bottom: 10px !important ;
    position: fixed;
    z-index: 3;
  }
  .navbar-nav {
    background: #eaeaea;
  }

  .bg-transparent {
    transition: all ease-in 0.3s;
  }
  .nav-link {
    padding: 20px 0px 20px 0px !important;
  }
  .nav-link a {
    margin-top: 100px !important ;
  }
  .navbar-brand {
    position: relative;
    right: 35px;
  }
  .navbar-brand span {
    margin-left: 8px;
  }
  .navbar-links {
    position: fixed;
    top: -275px;
    left: 0;
    width: 100%;
    height: auto;
  }
  /* MENU TOGGLE */
  .menu-toggle {
    display: flex;
  }
  .top-menu {
    z-index: -1;
  }
  nav ul {
    position: relative;
    /* top: -140px;
    left: -50px; */
    width: 100%;
    background: var(--second-color);
    align-items: center;
    transform: translateY(0);
    transition: all 0.5s;
    opacity: 0;
    border-radius: 0 0 10px 10px;
  }

  nav ul.slide {
    display: flex;
    transform: translateY(100%);
    opacity: 1;
  }

  /* !HEADER */
  .header-detail-hospitals {
    margin-left: 0;
    margin-top: 5rem;
  }
  .img-header-1 {
    width: auto;
    height: 400px;
  }
  .img-header-2 {
    width: 100%;
    height: 175px;
  }
  .header-img-2 {
    margin-left: 0;
    margin-top: 3rem;
    padding-bottom: 3em;
    display: flex;
    flex-direction: column;
  }
  /* !DETAIL HEADER */
  .detail-header-hospitals {
    position: relative;
    left: 12px;
  }
  .acc-label {
    width: auto;
  }
  /* !SERICE HOSPITAL */
  .main-fasilitas-2 {
    margin: 0;
    padding-top: 3em;
  }
  .main-fasilitas .col-6 {
    padding: 0px 8px;
  }
  .main-fasilitas-2 .col-6 {
    padding: 0px 8px;
  }
  .fasilitas-3 {
    padding-bottom: 20px;
  }
  /* !GAELERI RUMAH SAKIT */
  .galery-rumah-sakit {
    height: 110vh;
  }
  .galeri-1,
  .galeri-2 {
    padding-bottom: 20px;
  }
  .back-menu {
    display: block;
    margin: 1rem 0;
    color: var(--second-color);
  }
  .back-menu svg {
    width: 9%;
    height: auto;
  }
}
