@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

:root {
  --first-color: #1b262c;
  --second-color: #0f4c75;
  --third-color: #3282b8;
  --fourth-color: #bbe1fa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}
body {
  overflow-x: hidden !important;
  font-family: "Poppins", sans-serif;
}
ol,
ul,
p {
  margin: 0;
  padding: 0;
}
::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: var(--second-color);
}
::selection {
  text-shadow: none;
  color: #fff;
  background: var(--second-color);
}
iframe {
  max-width: 100%;
  border-radius: 15px;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none;
}
button,
button[type="submit"],
input[type="submit"] {
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
img {
  max-width: 100%;
  height: auto;
}
.btn,
.btn:hover,
.btn:focus,
.btn:active {
  box-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.card {
  border: none;
}

/* !NAVBAR */
.navbar-brand-1 {
  font-size: 26px;
  line-height: 54px;
  color: var(--fourth-color) !important;
  padding-left: 20px;
}
.navbar-brand-2 {
  font-size: 26px;
  line-height: 54px;
  color: var(--second-color) !important;
  padding-left: 20px;
}
.navbar-brand-1 img,
.navbar-brand-2 img {
  width: 50px;
  margin-bottom: 15px;
}
.navbar-brand-1 span,
.navbar-brand-2 span {
  margin-left: 15px;
}
.navbar-brand-1 b {
  color: var(--fourth-color);
  font-weight: bolder;
}
.navbar-brand-2 b {
  color: var(--second-color);
  font-weight: bolder;
}
.active-1 {
  color: var(--fourth-color) !important;
}
.active-2 {
  color: var(--second-color) !important;
}
.nav-color {
  background-color: var(--second-color);
  transition: all ease-in-out 0.5s;
  box-shadow: 0px 4px 20px #38383889;
}
.nav-color-2 {
  background-color: #eaeaea;
  transition: all ease-in-out 0.5s;
  box-shadow: 0px 4px 20px #38383889;
}
.bg-transparent,
.bg-transparent-2 {
  transition: all ease-in 0.5s;
}
.nav-link-1 {
  font-size: 22px;
  color: rgba(187, 225, 250, 0.5);
}
.nav-link-1:hover,
.nav-link-1:focus,
.login-1 {
  color: var(--fourth-color);
}
.nav-link-2:hover,
.nav-link-2:focus,
.login-2 {
  color: var(--second-color);
}
.login-1 {
  color: var(--fourth-color);
}
.login-2 {
  color: var(--second-color);
}
.login-1 img,
.login-2 img {
  margin-left: 15px;
}
@media only screen and (max-width: 620px) {
  .navbar {
    display: block;
    width: 100%;
    padding: 0 !important;
    padding-top: 12px !important ;
    padding-bottom: 10px !important ;
    position: fixed;
    z-index: 3;
  }
  .nav-color {
    background-color: var(--second-color);
    transition: all ease-in-out 0.5s;
  }
  .nav-color-2 {
    background-color: #eaeaea;
    transition: all ease-in-out 0.5s;
  }
  .bg-transparent {
    transition: all ease-in 0.3s;
  }
  .nav-link-1,
  .nav-link-2 {
    padding: 20px 0px 20px 0px !important;
  }
  .nav-link-1 a,
  .nav-link-2 a {
    margin-top: 100px !important ;
  }
  .navbar-brand-1,
  .navbar-brand-2 {
    position: relative;
    right: 35px;
    top: 8px;
  }
  .navbar-brand-1 span,
  .navbar-brand-2 span {
    margin-left: 8px;
  }
  .navbar-links {
    position: fixed;
    top: -275px;
    left: 0;
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 1450px) {
  .navbar {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  .nav-link-1,
  .nav-link-2 {
    font-size: 25px;
    font-weight: 400;
  }
}

/*HAMBURGER ANIMATION*/
.hamburger-menu {
  width: max-content;
}
.sergap-off-canvas-social {
  display: flex;
  justify-content: space-evenly;
  background: var(--second-color);
  padding: 20px;
}
.sergap-off-canvas-social a i {
  color: var(--fourth-color);
  background-color: #d6d6d6;
  padding: 10px;
  border-radius: 50%;
  width: fit-content;
  height: 100%;
}
.sergap-off-canvas-social a i:hover {
  color: #fff;
}
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  display: none;
  position: fixed;
  top: 50px;
  right: 0px;
  margin-right: 30px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
@media only screen and (max-width: 620px) {
  .menu__btn {
    top: 45px;
    display: block;
  }
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: none;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #3b9ada;
  transition-duration: 0.25s;
}
@media only screen and (max-width: 620px) {
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
  }
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 400px;
  height: 100%;
  margin: 0;
  padding: 20px 0;
  list-style: none;
  background-color: var(--second-color);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
@media only screen and (max-width: 479px) {
  .menu__box {
    width: 100vw;
  }
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #d9d9d9;
  border-top: 1px solid #fff;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #3989beb4;
  color: #fff;
}
.logo-off-canvas {
  display: flex;
  padding: 0px 20px;
  margin-left: 30px;
}
.logo-off-canvas img {
  width: 50px;
  height: auto;
  margin-bottom: 1em;
}
.logo-off-canvas h4 {
  font-size: 22px;
  margin-top: 0.5em;
  color: var(--fourth-color);
}
@media only screen and (max-width: 479px) {
  .logo-off-canvas h4 {
    font-size: 30px;
  }
  .logo-off-canvas img {
    width: 18%;
    height: auto;
  }
}

header {
  background: url(/assets/image/bg-hospitals.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
@media only screen and (max-width: 620px) {
  header {
    height: 70vh;
  }
}
/* !JUMBOTRON */
.jumbotron {
  text-align: center;
  text-transform: capitalize;
  padding-top: 36vh;
}
.jumbotron p {
  letter-spacing: 0.005em;
  color: rgba(254, 254, 254, 0.75);
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}
.jumbotron h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 52px;
  line-height: 75px;
  width: 100%;
  margin-top: 1rem;
}
@media only screen and (max-width: 620px) {
  .jumbotron {
    width: fit-content;
    height: auto;
    text-align: center;
    text-transform: capitalize;
    padding-top: 10rem;
    position: absolute;
    left: 0;
  }
  .jumbotron p {
    letter-spacing: 0.005em;
    color: rgba(254, 254, 254, 0.75);
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    width: 80%;
    margin: 0;
    margin-left: 2.5rem;
    padding-bottom: 1.5rem;
  }

  .jumbotron h1 {
    width: auto;
    font-size: 22px;
    line-height: 31px;
    padding: 10px 20px 10px 20px;
    margin: 0;
  }
}
@media only screen and (min-width: 1450px) {
  .jumbotron p {
    font-size: 28px;
  }
}
/* !HOSPITAL SERVICE*/
.popular-hospitals {
  background: linear-gradient(177.59deg, #c4c4c4 -1.41%, #ffffff -1.38%, #bbe1fa 277.26%);
  height: 100vh;
}
@media only screen and (max-width: 620px) {
  .popular-hospitals {
    height: max-content;
  }
}
.title-popular-hospitals {
  margin-top: 100px;
  text-align: center;
}
.title-popular-hospitals h3 {
  color: var(--third-color);
  font-weight: 500;
  line-height: 42px;
}
.title-popular-hospitals h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
  color: #1a252b;
}
.main-populer-hospitals {
  padding-top: 80px;
}
@media only screen and (max-width: 767px) {
  .main-populer-hospitals {
    padding-top: 50px;
  }
}
.img-populer-2 {
  margin-left: 20px;
  padding-bottom: 23px;
}
.img-popular-3 {
  margin-left: 20px;
  border-radius: 21px;
  width: 93%;
}
.text-populer-hospital {
  margin-left: 35px;
}
.text-populer-hospital p {
  font-size: 18px;
  color: #0c4b75;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  width: 530px;
}
.text-populer-hospital h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-transform: capitalize;
  color: #232631;
}
.detail-populer-hospitals {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  color: #848484;
  margin-left: 0 !important;
}
@media only screen and (max-width: 620px) {
  .title-popular-hospitals {
    margin-top: 35px;
  }
  .title-popular-hospitals h1 {
    font-size: 25px;
    line-height: 35px;
  }
  .title-popular-hospitals h3 {
    font-size: 18px;
  }
  .img-populer-1 img,
  .img-populer-2 img,
  .img-popular-3 img {
    margin: 0 auto;
    display: block;
  }
  .img-popular-3 {
    width: 89%;
  }
  .img-populer-2 {
    margin-top: 1em;
    margin-left: 0;
  }
}
.data-populer-hospitals {
  margin-left: 35px;
  padding-top: 20px;
}
.data-populer-hospitals h5 {
  color: #232631;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.data-populer-hospitals p {
  color: #848484;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 161px;
}
.btn-populer-hospitals-1 {
  width: 211px;
  height: 48px;
  background: #0c4b75;
  border-radius: 12px;
  margin-left: 35px;
  padding: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.btn-populer-hospitals-1,
.btn-populer-hospitals-2 {
  margin-top: 3rem;
}
@media only screen and (min-width: 1450px) {
  .btn-populer-hospitals-1,
  .btn-populer-hospitals-2 {
    margin-top: 7rem;
  }
  .text-populer-hospital p {
    margin-top: 10px;
  }
}
.btn-populer-hospitals-1:focus,
.btn-populer-hospitals-2:focus {
  box-shadow: none;
}
.btn-populer-hospitals-2 {
  color: #7b7b7b;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 50px;
}
@media only screen and (max-width: 620px) {
  .text-populer-hospital {
    margin-left: 20px;
    margin-top: 2em;
  }
  .text-populer-hospital h2 {
    font-size: 25px;
    line-height: 35px;
  }
  .text-populer-hospital h5 {
    font-size: 16px;
  }
  .text-populer-hospital p {
    font-size: 15px;
    width: 100%;
    margin-top: 0.5rem;
  }
  .count-data-hospitals {
    margin-bottom: 3em;
  }
  .data-populer-hospitals p {
    line-height: 22px;
    width: 100%;
  }
  .btn-populer-hospitals-1 {
    margin-bottom: 1em;
  }
  .btn-populer-hospitals-1,
  .btn-populer-hospitals-2 {
    margin: 0px auto;
    display: block;
  }
  .btn-populer-hospitals-2 {
    margin-top: 1em;
  }
}
/* !HOSPITAL SERVICE */

.hospital-service {
  background: linear-gradient(0.45deg, #ffffff 10.14%, #ffffff 10.17%, #bbe1fa 279.27%);
  padding-top: 1px;
}
.title-service-hospitals {
  text-align: center;
  margin-top: 100px;
}
.title-service-hospitals h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: var(--third-color);
}
.title-service-hospitals h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
  color: #1a252b;
}
.button-service-hospitals {
  text-align: center;
  background: #ffffff;
  border-radius: 50px;
  width: fit-content;
  height: auto;
  padding: 10px;
  margin: auto;
  margin-top: 3em;
  box-shadow: 0 0 40px 2px #d6d6d6ce;
}
.button-service-hospitals-1 {
  background: #0c4b75;
  border-radius: 25px;
  width: 82px;
  height: 43px;
  padding-top: 10px;
  color: white !important;
}

.button-service-hospitals-2:hover,
.button-service-hospitals-3:hover {
  color: white;
  background-color: #0c4b75;
  border-radius: 25px;
}
.button-service-hospitals-1:focus,
.button-service-hospitals-2:focus,
.button-service-hospitals-3:focus {
  box-shadow: none;
  border-radius: 25px;
}
.button-service-hospitals-1,
.button-service-hospitals-2,
.button-service-hospitals-3 {
  margin: 0 1em;
}
.button-service-hospitals-2,
.button-service-hospitals-3 {
  color: #0c4b75;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding: 6px 12px 6px 12px;
}
@media only screen and (max-width: 620px) {
  .title-service-hospitals h3 {
    font-size: 18px;
  }
  .title-service-hospitals h1 {
    font-size: 25px;
    line-height: 35px;
  }
  .button-service-hospitals {
    width: auto;
    height: 50px;
    padding-top: 3px;
    margin-top: 30px;
    box-shadow: 0px 3px 10px 2px rgba(141, 141, 141, 0.29);
  }
  .button-service-hospitals-1 {
    border-radius: 35px;
    font-size: 14px;
    width: auto;
    height: 43px;
    padding: 12px;
  }
  .button-service-hospitals-2 {
    border-radius: 35px;
    font-size: 14px;
    width: auto;
  }
  .button-service-hospitals-3 {
    border-radius: 35px;
    font-size: 14px;
    width: auto;
  }
  .button-service-hospitals-1,
  .button-service-hospitals-2,
  .button-service-hospitals-3 {
    margin: 0 !important;
    font-size: 12px;
  }
}

/* !HOSPITAL */
.product-hospital {
  margin-top: 7rem;
}
.btn-service-hospital button {
  background: rgba(50, 88, 232, 0.1);
  border-radius: 12px;
  color: #0c4b75;
  letter-spacing: 0.005em;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-left: 5px;
  margin-top: 20px;
  text-transform: capitalize;
}
@media only screen and (max-width: 620px) {
  .btn-service-hospital button {
    margin-left: 0;
  }
}
button:focus {
  box-shadow: none !important;
}
.hospital-1,
.hospital-2,
.hospital-3,
.hospital-4,
.hospital-5,
.hospital-6,
.card-hospital {
  background: #ffffff;
  border-radius: 24px;
  width: 21rem;
  height: auto;
  border: none;
  box-shadow: 1px 20px 80px 1px #27333528;
}
.card-hospital {
  margin-top: 2em;
}
.card-body-hospital {
  margin-left: 20px;
  margin-right: 20px;
}
.img-hospital-1 {
  width: 350px;
  height: 300px;
  border-radius: 30px;
  padding: 1em 1em;
  align-items: center;
  margin: 0 auto;
}
@media only screen and (max-width: 620px) {
  .product-hospital {
    margin-top: 2rem;
  }
  .hospital-1,
  .hospital-2,
  .hospital-3,
  .hospital-4,
  .hospital-5,
  .hospital-6,
  .card-hospital {
    width: 100%;
    margin: 0px auto;
  }
  .card-body-hospital {
    margin-left: 20px;
    margin-right: 20px;
  }
  .hospital-1 {
    margin-top: 2rem;
  }
  .img-hospital-1 {
    width: 100%;
    margin: 0;
  }
}
.card-title-hospital {
  color: #232631;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  padding-top: 15px;
  margin-left: 5px;
}
.location {
  color: #848484;
  text-decoration: none;
}

.rating-hospital {
  padding-top: 10px;
}
.rating-hospital i {
  margin-left: 6px;
  color: #ff9900;
}
.btn-detail-hospitals {
  padding: 20px 0px;
}
.btn-detail-hospitals-1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background: #0c4b75;
  border-radius: 25px;
  color: #ffffff;
  width: 168px;
}

@media only screen and (max-width: 320px) {
  .btn-detail-hospitals-1,
  .btn-detail-hospitals-2 {
    margin: 0 auto;
    display: block;
  }
}
.btn-detail-hospitals-2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #14141476;
}
.btn-detail-hospitals-1:hover {
  color: #ffffff;
}
.btn-detail-hospitals-2:hover {
  color: #141414;
}
.btn-detail-hospitals-1:focus,
.btn-detail-hospitals-2:focus {
  box-shadow: none;
}
@media only screen and (max-width: 767px) {
  .button-service-hospitals-1 {
    padding-right: 20px;
    padding-left: 20px;
  }
}
/* ! IMAGES WORKS */
.work-img {
  position: relative;
  width: 533px;
  height: 380.49px;
  background: #bbe1fa;
  border-radius: 20px 200px 10px;
  top: 160px;
  left: 55px;
}
.img-work {
  width: 411px;
  height: 534.4px;
  position: absolute;
  left: 160px;
  bottom: 0;
}
.card-img-work-1 {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  width: 342.63px;
  height: 118.55px;
  color: var(--second-color);
  position: relative;
  right: 125px;
  bottom: 37px;
}
.card-img-work-2 {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  width: 342.63px;
  height: 118.55px;
  color: var(--second-color);
  position: relative;
  top: 153px;
  right: 35px;
}
.text-works {
  color: var(--second-color);
}
.img-card {
  position: relative;
  left: 20px;
}
.icon-works {
  position: absolute;
  right: 0;
  bottom: 0;
  top: -200px;
}

/* !CUSTOMER */
.card-customer-say {
  cursor: pointer;
  height: 70vh;
}
.main-customer-say {
  text-align: center;
  margin-top: 8rem;
}
.main-customer-say h2 {
  color: rgba(49, 130, 183, 1);
}
.main-customer-say h1 {
  font-size: 50px;
  color: #1a252b;
}
.main-customer-say span {
  color: rgba(15, 76, 117, 1);
}
.main-customer-say p {
  color: rgba(26, 37, 43, 0.5);
  font-size: 18px;
  width: 100%;
}
.card-customer-say {
  padding-top: 40px;
}
.text-customer-say {
  width: 100%;
  font-size: 13px;
  margin-bottom: 5px;
}
.customer-1 {
  width: 100px;
}

.card-customer-say-1 {
  border-radius: 20px;
  background-color: var(--second-color);
  width: 500px;
  height: 220px;
  padding-top: 0 !important;
  color: #d4d4d4;
}
.img-card-customer-1 {
  width: 100%;
  height: fit-content;
}
.title-customer-1 {
  color: #ffffff;
  font-size: 20px;
}
.title-customer-1 p {
  color: #ffffff;
  font-size: 18px;
}
.card-title-customer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card-customer-say-2 {
  border-radius: 20px;
  background-color: var(--second-color);
  width: 500px;
  height: 220px;
  padding-top: 0 !important;
  color: #d4d4d4;
}
.customer-2 {
  margin-left: 190px;
}
.wrapper-customer {
  padding-bottom: 120px;
}
.rating-customer {
  color: #ff9900;
}
.start-customer {
  color: white;
}
.customer {
  padding-right: 70px !important;
}
/* !FOOTER */
.footer {
  width: 100%;
  background-color: var(--second-color);
}
.content-footer {
  margin-top: 80px;
}

.about-footer img {
  padding-right: 10px;
  margin-bottom: 15px;
}
.brand-footer {
  padding-bottom: 2rem;
}
.brand-footer h2 {
  font-size: 36px;
  color: var(--fourth-color);
}
.brand-footer span {
  font-weight: 800;
  color: var(--fourth-color);
}
.text-footer {
  margin-top: 15px;
  width: 90%;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #ffffff;
}
.main-footer p {
  margin-top: 30px;
  padding-bottom: 15px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
}
.main-footer a {
  color: rgba(255, 255, 255, 0.836);
  font-size: 15px;
  line-height: 50px;
  text-decoration: none;
}
.main-footer a:hover {
  color: #fff;
}
@media only screen and (min-width: 1450px) {
  .main-footer a {
    font-size: 17px;
  }
}
.main-footer li {
  list-style: none;
}
.copyright p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
iframe {
  border-radius: 15px;
}

/* !MOBILE */

/* ?FULL HD */
@media screen and (min-width: 1900px) {
  .navbar {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  .nav-link {
    font-size: 25px;
    font-weight: 400;
  }
}
