@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

:root {
  --first-color: #1b262c;
  --second-color: #0f4c75;
  --third-color: #3282b8;
  --fourth-color: #bbe1fa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}
body {
  overflow-x: hidden !important;
  font-family: "Poppins", sans-serif;
}
ol,
ul,
p {
  margin: 0;
  padding: 0;
}
::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: var(--second-color);
}
::selection {
  text-shadow: none;
  color: #fff;
  background: var(--second-color);
}
iframe {
  max-width: 100%;
  border-radius: 15px;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none;
}
button,
button[type="submit"],
input[type="submit"] {
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
img {
  max-width: 100%;
  height: auto;
}
.btn,
.btn:hover,
.btn:focus,
.btn:active {
  box-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.card {
  border: none;
}

/* !NAVBAR */
.navbar-brand-1 {
  font-size: 26px;
  line-height: 54px;
  color: var(--fourth-color) !important;
  padding-left: 20px;
}
.navbar-brand-2 {
  font-size: 26px;
  line-height: 54px;
  color: var(--second-color) !important;
  padding-left: 20px;
}
.navbar-brand-1 img,
.navbar-brand-2 img {
  width: 50px;
  margin-bottom: 15px;
}
.navbar-brand-1 span,
.navbar-brand-2 span {
  margin-left: 15px;
}
.navbar-brand-1 b {
  color: var(--fourth-color);
  font-weight: bolder;
}
.navbar-brand-2 b {
  color: var(--second-color);
  font-weight: bolder;
}
.nav-color {
  background-color: var(--second-color);
  transition: all ease-in-out 0.5s;
  box-shadow: 0px 4px 20px #38383889;
}
.nav-color-2 {
  background-color: #eaeaea;
  transition: all ease-in-out 0.5s;
  box-shadow: 0px 4px 20px #38383889;
}
.bg-transparent,
.bg-transparent-2 {
  transition: all ease-in 0.5s;
}
.active-1 {
  color: var(--fourth-color) !important;
}
.active-2 {
  color: var(--second-color) !important;
}
.nav-link-1 {
  font-size: 22px;
  color: rgba(187, 225, 250, 0.5);
}
.nav-link-2 {
  font-size: 20px;
  color: rgba(48, 91, 119, 0.63);
}
.nav-link-1:hover,
.nav-link-1:focus,
.login-1 {
  color: var(--fourth-color);
}
.nav-link-2:hover,
.nav-link-2:focus,
.login-2 {
  color: var(--second-color);
}
.login-1 {
  color: var(--fourth-color);
}
.login-2 {
  color: var(--second-color);
}
.login-1 img,
.login-2 img {
  margin-left: 15px;
}
@media only screen and (max-width: 620px) {
  .navbar {
    display: block;
    width: 100%;
    padding: 0 !important;
    padding-top: 12px !important ;
    padding-bottom: 10px !important ;
    position: fixed;
    z-index: 3;
  }
  .nav-color {
    background-color: var(--second-color);
    transition: all ease-in-out 0.5s;
  }
  .nav-color-2 {
    background-color: #eaeaea;
    transition: all ease-in-out 0.5s;
  }
  .bg-transparent {
    transition: all ease-in 0.3s;
  }
  .nav-link-1,
  .nav-link-2 {
    padding: 20px 0px 20px 0px !important;
  }
  .nav-link-1 a,
  .nav-link-2 a {
    margin-top: 100px !important ;
  }
  .navbar-brand-1,
  .navbar-brand-2 {
    position: relative;
    right: 35px;
    top: 5px;
  }
  .navbar-brand-1 span,
  .navbar-brand-2 span {
    margin-left: 8px;
  }
  .navbar-links {
    position: fixed;
    top: -275px;
    left: 0;
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 991px) {
  .navbar-links {
    display: none;
  }
}

@media only screen and (min-width: 1450px) {
  .navbar {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  .nav-link-1,
  .nav-link-2 {
    font-size: 25px;
    font-weight: 400;
  }
}

.hamburger-menu {
  width: max-content;
}
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  display: none;
  position: fixed;
  top: 50px;
  right: 0px;
  margin-right: 30px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
@media only screen and (max-width: 620px) {
  .menu__btn {
    top: 45px;
    display: block;
  }
}
@media only screen and (max-width: 991px) {
  .menu__btn {
    top: 45px;
    display: block;
  }
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: none;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #3b9ada;
  transition-duration: 0.25s;
}
@media only screen and (max-width: 620px) {
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
  }
}
@media only screen and (max-width: 991px) {
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
  }
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 400px;
  height: 100%;
  margin: 0;
  padding: 20px 0;
  list-style: none;
  background-color: var(--second-color);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
.menu__box2 {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 400px;
  height: 100%;
  margin: 0;
  padding: 20px 0;
  list-style: none;
  background-color: #eaeaea;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
@media only screen and (max-width: 479px) {
  .menu__box {
    width: 100vw;
  }
  .menu__box2 {
    width: 100vw;
  }
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #d9d9d9;
  border-top: 1px solid #fff;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #3989beb4;
  color: #fff;
}
.logo-off-canvas {
  display: flex;
  padding: 0px 20px;
  margin-left: 30px;
}
.logo-off-canvas img {
  width: 50px;
  height: auto;
  margin-bottom: 1em;
}
.logo-off-canvas h4 {
  font-size: 22px;
  margin-top: 0.5em;
  color: var(--fourth-color);
}
@media only screen and (max-width: 479px) {
  .logo-off-canvas h4 {
    font-size: 30px;
  }
  .logo-off-canvas img {
    width: 18%;
    height: auto;
  }
}

/* !JUMBOTRON */
header {
  background: linear-gradient(181.37deg, #0f4c75 16.15%, #bbe1fa 165.7%);
  height: 120vh;
}
@media only screen and (min-width: 1450px) {
  header {
    height: 110vh;
  }
}
@media only screen and (max-width: 620px) {
  header {
    height: max-content;
    padding-bottom: 3rem;
  }
}
.hero-img {
  position: absolute;
  background: rgba(187, 225, 250, 0.2);
  backdrop-filter: blur(45px);
  border-radius: 0px 250px 20px 0px;
  width: 650px;
  height: auto;
  left: 0;
  margin-top: 10em;
}
.img-hero {
  margin: 0px auto;
  display: block;
  width: 61.5%;
  height: auto;
}
.icon-hd-1,
.icon-hd-2,
.icon-hd-3 {
  position: relative;
  width: 12%;
  height: auto;
}
.icon-hd-1 {
  top: 15em;
  left: 4em;
}
.icon-hd-2 {
  left: 20em;
  top: 9em;
}
.icon-hd-3 {
  top: 3em;
  left: 5em;
}
@media only screen and (min-width: 1450px) {
  .hero-img {
    width: 765px;
  }
}

.card-hero {
  background: rgba(15, 76, 117, 0.3);
  backdrop-filter: blur(8px) !important;
  border-radius: 20px;
  border: none;
  position: absolute;
  top: 525px;
  left: 363px;
  width: fit-content;
  height: auto;
  padding: 15px 0px;
}
@media only screen and (min-width: 1450px) {
  .card-hero {
    top: 585px;
    left: 475px;
  }
}
.icon-card {
  position: relative;
  margin: 0px 10px;
}
.card-hero-2 {
  background: rgba(15, 76, 117, 0.3);
  backdrop-filter: blur(8px) !important;
  border-radius: 20px;
  border: none;
  width: 342.63px;
  height: 110.92px;
  margin-top: 200px;
  display: block;
  z-index: 30;
}
.card-hero-detail h5 {
  font-family: "Nunito";
  line-height: 27px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 2px;
}
.card-hero-detail p {
  font-family: "Nunito";
  font-size: 17px;
  font-weight: 500;
  line-height: 23px;
  margin: 0;
}
.title-card-hero,
.text-card-hero {
  width: 100%;
  color: white;
}
.jumbotron {
  display: block;
  margin-top: 6em;
  margin-left: 2em;
}
@media only screen and (max-width: 620px) {
  .jumbotron {
    margin-left: 0;
    margin-top: 18.5em !important;
  }
}

.jumbotron {
  color: var(--four-color);
  font-size: 25px;
}
.jumbotron h2 {
  font-size: 22px;
  color: var(--fourth-color);
}
.jumbotron h1 {
  color: white;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}
.jumbotron p {
  font-size: 18px;
  width: 80%;
  line-height: 26px;
  margin-top: 1em;
  color: rgba(254, 254, 254, 0.863);
}
.jumbotron span {
  color: var(--fourth-color);
  font-weight: 700;
}
@media only screen and (max-width: 620px) {
  .hero-img {
    border-radius: 0px 100px 20px 0px;
    width: 100%;
    height: auto;
    left: 0;
    margin-top: 7em;
  }
  .img-hero {
    margin: 0px auto;
    display: block;
    width: 83.5%;
    height: auto;
  }
  .icon-hd-3 {
    left: 3em;
  }
  .icon-hd-2 {
    left: 12em;
  }
  .icon-hd-1 {
    top: 11em;
    left: 3em;
  }
  .card-hero {
    display: none;
  }

  .jumbotron h1 {
    font-size: 25px;
    line-height: 36px;
    /* text-align: center; */
  }
  .jumbotron h2 {
    margin-bottom: 5px;
    font-size: 18px;
    /* text-align: center; */
  }
  .jumbotron p {
    width: 100%;
    height: auto;
    line-height: 20px;
    font-size: 16px;
    /* text-align: center; */
    margin-top: 15px;
    margin-bottom: 1rem;
    color: rgba(254, 254, 254, 0.75);
  }
  .jumbotron span {
    color: var(--fourth-color);
  }
  .jumbotron .row .value-1,
  .jumbotron .row .value-2,
  .jumbotron .row .value-3 {
    width: auto;
    height: 100px !important;
  }
}
.search-jumbotron {
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid #ffffff;
  border-radius: 15px;
}
.input-group {
  border: 2px solid #ffffff;
  border-radius: 15px;
  width: 90%;
  margin-top: 1em;
}

.form-control {
  background: rgba(255, 255, 255, 0.05);
  border: none;
}
#form-control:focus {
  background: rgba(255, 255, 255, 0.05);
}
input:focus {
  box-shadow: none !important;
  background: rgba(255, 255, 255, 0.05);
}

::placeholder {
  color: white !important;
}
.btn-jumbotron {
  background: rgba(15, 76, 117, 0.3);
  border-radius: 20px;
  position: relative;
  width: 87px;
  height: 60px;
  border: none;
}
.btn-jumbotron i {
  color: white;
  font-size: 22px;
}
@media only screen and (max-width: 620px) {
  .search-jumbotron {
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid #ffffff;
    border-radius: 15px;
  }
  .input-group {
    width: auto;
    border: 2px solid #ffffff;
    border-radius: 10px;
    height: 50px;
    margin: auto;
  }
  .form-control {
    background: rgba(255, 255, 255, 0.05);
    height: 50px;
  }
  ::placeholder {
    position: relative;
    bottom: 3px;
    font-size: 12px;
  }
  .btn-jumbotron {
    background: rgba(15, 76, 117, 0.3);
    border-radius: 12px;
    position: relative;
    width: 67px;
    height: 46px;
  }
}
.value-1,
.value-2,
.value-3 {
  width: auto;
  height: auto;
  text-align: center;
}
.value-1 h1,
.value-2 h1,
.value-3 h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: white;
  width: 100px;
  margin: 0px auto;
}
.value-1 p,
.value-2 p,
.value-3 p {
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.75);
  margin: 0px auto;
}
@media only screen and (max-width: 620px) {
  .value-1,
  .value-2,
  .value-3 {
    position: relative;
    top: 50px;
  }
  .value-1 h1,
  .value-2 h1,
  .value-3 h1 {
    font-size: 28px;
    line-height: 30px;
  }
  .value-1 p,
  .value-2 p,
  .value-3 p {
    font-size: 14px;
    line-height: 15px;
  }
}
@media only screen and (min-width: 1450px) {
  .value-1,
  .value-2,
  .value-3 {
    margin-top: 30px;
    width: 250px;
    height: 64px;
    text-align: center;
  }
  .input-group {
    margin-top: 20px;
  }
}

/* ! SERVICES */
.section-services {
  background: linear-gradient(177.59deg, #c4c4c4 -1.41%, #ffffff -1.38%, #bbe1fa 277.26%);
  height: 110vh;
  padding-bottom: 5rem;
}
@media only screen and (min-width: 1450px) {
  .section-services {
    height: 100vh;
  }
}
@media only screen and (max-width: 620px) {
  .section-services {
    height: max-content;
    padding-bottom: 3rem !important;
  }
}
.main-services {
  text-align: center;
}
.main-services h2 {
  color: var(--third-color);
}
.main-services h1 {
  font-size: 50px;
  color: #1a252b;
}
.main-services p {
  color: rgba(26, 37, 43, 0.5);
  width: 67%;
  line-height: 27px;
  font-size: 18px;
  margin-left: 16%;
  margin-top: 1rem;
}
.main-services span {
  font-weight: 600;
  color: var(--second-color);
}
@media only screen and (max-width: 620px) {
  .main-services h2 {
    font-size: 18px;
  }
  .main-services h1 {
    font-size: 25px;
  }
  .main-services p {
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    margin: 0;
  }
}

/* CARD SERVICES */
.section-services {
  padding-bottom: 250px;
}

.card-services {
  padding-top: 100px;
}
.card-services-1,
.card-services-2,
.card-services-3,
.card-services-4,
.card-services-5 {
  width: 100%;
  height: 255px;
  color: black;
  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.09), 0px 44.6385px 40.0391px rgba(0, 0, 0, 0.0148668), 0px 16.5479px 24.1177px rgba(0, 0, 0, 0.00201574), 0px 4.01307px 10.0172px rgba(0, 0, 0, 0.000244818),
    0px 3.08671px 6.30574px rgba(0, 0, 0, 0.00390063), 0px 2.44603px 3.62304px rgba(0, 0, 0, 0.00817888), 0px 1.48964px 1.59459px rgba(0, 0, 0, 0.0107784);
  border-radius: 20px;
  transition: all 0.3s ease-out;
  position: relative;
}
@media only screen and (min-width: 1450px) {
  .main-services p {
    font-size: 21px;
  }
  .card-services-1,
  .card-services-2,
  .card-services-3,
  .card-services-4,
  .card-services-5 {
    width: 16rem !important;
    height: 300px;
  }
  .card-services-1,
  .card-services-2,
  .card-services-3,
  .card-services-4,
  .card-services-5,
  .card-text-service {
    font-size: 16px !important;
  }
}
.img-card-service {
  background: rgba(187, 225, 250, 0.5);
  border-radius: 20px;
  padding: 12px;
  width: 25%;
  height: auto;
}
@media only screen and (max-width: 620px) {
  .img-card-service {
    position: relative;
    width: fit-content;
    height: 60px;
  }
  .card-services {
    padding-top: 50px;
  }
  .card-services-1,
  .card-services-2,
  .card-services-3,
  .card-services-4,
  .card-services-5 {
    width: 20rem !important;
    margin: 0 auto;
    margin-bottom: 1rem;
    position: static !important;
  }
}

.card-services-1:hover,
.card-services-2:hover,
.card-services-3:hover,
.card-services-4:hover,
.card-services-5:hover {
  background: rgba(49, 130, 183, 1);
  transform: translateY(-10px) scale(1.005) translateZ(0);
}
.card-services-1:hover .img-card-service,
.card-services-2:hover .img-card-service,
.card-services-3:hover .img-card-service,
.card-services-4:hover .img-card-service,
.card-services-5:hover .img-card-service {
  background: white;
}
@media only screen and (max-width: 620px) {
  .card-title-service {
    width: 100% !important;
    font-size: 22px !important;
  }
  .card-body-services {
    height: max-content;
    position: static;
  }
  .card-body-services p,
  .card-body-services h5 {
    font-size: inherit;
    width: auto;
    height: fit-content;
  }
  .card-body-services h5 {
    font-size: 18px;
  }
  .card-body-services p {
    font-size: 16px;
    padding-bottom: 1em;
    line-height: 24px;
  }
}
.card-services-1 .card-title,
.card-services-2 .card-title,
.card-services-3 .card-title,
.card-services-4 .card-title,
.card-services-5 .card-title {
  padding: 10px;
  margin: 0;
}
.card-title-service {
  color: var(--second-color);
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  width: 130px;
  margin-left: 1em;
}
.card-services-1:hover .card-title-service,
.card-services-2:hover .card-title-service,
.card-services-3:hover .card-title-service,
.card-services-4:hover .card-title-service,
.card-services-5:hover .card-title-service {
  color: var(--fourth-color);
}
.card-services-1:hover .card-text-service,
.card-services-2:hover .card-text-service,
.card-services-3:hover .card-text-service,
.card-services-4:hover .card-text-service,
.card-services-5:hover .card-text-service {
  color: #fff !important;
}

.card-body-services {
  padding: 15px;
  padding-top: 5px;
}
.card-text-service {
  color: rgb(61, 61, 61) !important;
  font-size: 16px;
  width: fit-content;
}

.card-services-1,
.card-services-2,
.card-services-3,
.card-services-4,
.card-services-5,
.card-text-service {
  color: rgba(209, 209, 209, 1);
  font-size: 14px;
}

/* !WORKS */
.section-works {
  background: linear-gradient(0.45deg, #ffffff 10.14%, #ffffff 10.17%, #bbe1fa 279.27%);
}
@media only screen and (max-width: 620px) {
  .section-works {
    height: 210vh;
  }
}

.main-works h2 {
  font-size: 28px;
  color: var(--third-color);
}
.main-works h1 {
  font-size: 50px;
  color: #1a252b;
  line-height: 75px;
  font-weight: 600;
}
.main-works span {
  color: var(--second-color);
}
.main-works p {
  color: rgba(21, 29, 34, 0.781);
  font-size: 18px;
  line-height: 27px;
  width: 100%;
}
@media only screen and (max-width: 620px) {
  .main-works h2 {
    font-size: 18px;
    margin-left: 1rem;
  }
  .main-works h1 {
    font-size: 30px;
    line-height: 20px;
    margin: 10px 0;
    margin-left: 1rem;
  }
  .main-works p {
    font-size: 15px;
    width: 100%;
    margin-left: 1rem;
  }
}

/* CARD WORKS */
.card-works {
  margin-top: 50px;
}
.card-works-1,
.card-works-2,
.card-works-3,
.card-works-4 {
  border-radius: 20px;
  backdrop-filter: blur(20px);
  background: #ffffff;
  transition: all 0.3s ease-out;
  text-align: left;
  filter: drop-shadow(0px 50.0488px 40.0391px rgba(0, 0, 0, 0.0292019)) drop-shadow(0px 30.1471px 24.1177px rgba(0, 0, 0, 0.013462)) drop-shadow(0px 19.3198px 15.4559px rgba(0, 0, 0, 0.00690742))
    drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.00523375)) drop-shadow(0px 7.88218px 6.30574px rgba(0, 0, 0, 0.0063107)) drop-shadow(0px 4.5288px 3.62304px rgba(0, 0, 0, 0.00854026))
    drop-shadow(0px 1.99324px 1.59459px rgba(0, 0, 0, 0.00976893));
}
@media only screen and (max-width: 620px) {
  .card-works-1,
  .card-works-2,
  .card-works-3,
  .card-works-4 {
    width: auto;
    height: fit-content;
  }
  .card-works-3 {
    margin-top: 1rem;
  }
}
.img-card-work {
  background: rgba(187, 225, 250, 0.5);
  border-radius: 20px;
  padding: 12px;
  width: 20%;
  height: auto;
}

.card-works-1:hover .img-card-work,
.card-works-2:hover .img-card-work,
.card-works-3:hover .img-card-work,
.card-works-4:hover .img-card-work {
  background: white;
}
.card-works-1:hover,
.card-works-2:hover,
.card-works-3:hover,
.card-works-4:hover {
  background: rgba(49, 130, 183, 1);
  transform: translateY(-10px) scale(1.005) translateZ(0);
}
.card-works-1 {
  margin-bottom: 20px;
}
.card-works-3 {
  margin-bottom: 20px;
}
.title-card-works {
  color: var(--second-color);
  font-weight: 600;
}
.card-works-1:hover .title-card-works,
.card-works-2:hover .title-card-works,
.card-works-3:hover .title-card-works,
.card-works-4:hover .title-card-works {
  color: var(--fourth-color);
}
.card-works-1:hover .text-card-works,
.card-works-2:hover .text-card-works,
.card-works-3:hover .text-card-works,
.card-works-4:hover .text-card-works,
.card-works-5:hover .text-card-works {
  color: #fff !important;
}
.card-body-work {
  padding-top: 0px;
}
.text-card-works {
  color: #d1d1d1;
  font-weight: 600;
  font-size: 16px !important;
  line-height: 12px;
  width: auto;
  height: auto;
}
@media only screen and (max-width: 620px) {
  .title-card-works {
    margin-right: 0 !important;
    width: fit-content;
    padding: auto;
    font-size: 22px;
  }
  .text-card-works {
    position: static;
    margin-top: 10px;
    width: 100%;
    margin-left: 0 !important;
    height: auto;
    line-height: 20px;
  }
  .work-img {
    display: block;
  }
}

/* ! IMAGES WORKS */
.work-img {
  position: relative;
  width: 533px;
  height: 380.49px;
  background: #bbe1fa;
  border-radius: 20px 200px 10px;
  top: 160px;
  left: 55px;
}
.img-work {
  position: absolute;
  left: 160px;
  bottom: 0;
}
.card-works-1,
.card-works-2 {
  margin-left: auto;
}
.card-works-1 .card-title,
.card-works-2 .card-title,
.card-works-3 .card-title,
.card-works-4 .card-title {
  padding: 10px;
  padding-bottom: 0px;
}
.card-work-1,
.card-work-2 {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px) !important;
  border-radius: 20px;
  width: fit-content;
  height: auto;
  color: var(--second-color);
  padding: 15px 0px;
}
.card-work-1 {
  position: relative;
  bottom: 17em;
  right: 3em;
}
@media only screen and (max-width: 620px) {
  .work-img {
    width: 100%;
    height: auto;
    left: 0;
    padding-top: 3em;
  }
  .img-work {
    position: absolute;
    left: 93px;
    bottom: 0;
    width: 75%;
  }
  .card-work-1,
  .card-work-2 {
    display: none;
  }
  .icon-works {
    position: relative;
    left: 13em !important;
    bottom: 12em !important;
    width: 35%;
  }
}
.card-work-detail h5 {
  font-family: "Nunito";
  line-height: 27px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 2px;
  color: var(--second-color);
}
.card-work-detail p {
  font-family: "Nunito";
  font-size: 17px;
  font-weight: 500;
  line-height: 23px;
  margin: 0;
  color: var(--second-color);
}
.icon-works {
  position: relative;
  left: 21em;
  bottom: 8em;
}

/* SPECIALIST */
.section-specialist {
  background-color: var(--second-color);
}
.title-specialist {
  text-align: center;
  padding-top: 48px;
}
.title-specialist h2 {
  font-weight: 500;
  line-height: 42px;
  color: #ffffff;
}
.title-specialist h1 {
  color: #ffffff;
}
@media only screen and (max-width: 620px) {
  .title-specialist {
    padding-top: 0;
  }
  .title-specialist h2 {
    font-size: 18px;
  }
  .title-specialist h1 {
    font-size: 25px;
  }
}
/* !CARD SPECIALIST */
.section-specialist .container {
  overflow-x: hidden;
  padding: 50px 0 !important;
  max-width: 1208px !important;
}
.card-specialist {
  display: flex;
  justify-content: space-evenly;
  transition: all 1s ease;
}
.specialists {
  display: flex;
}
.specialist-1,
.specialist-2,
.specialist-3,
.specialist-4 {
  width: 16rem !important;
  display: block;
  margin: 0 23px;
}

.card-specialist-1,
.card-specialist-2,
.card-specialist-3,
.card-specialist-4 {
  width: 100%;
  height: auto;
}
.docter-1 h4,
.docter-2 h4,
.docter-3 h4,
.docter-4 h4 {
  font-size: 20px;
  color: #ffffff;
  padding-top: 25px;
  text-align: center;
}
.docter-1 p,
.docter-2 p,
.docter-3 p,
.docter-4 p {
  font-size: 18px;
  text-align: center;
  color: #d4d4d4;
}
.button-specialist {
  display: flex;
  margin: 20px;
  justify-content: center;
}
.button-specialist label {
  width: 15px;
  height: 15px;
  background: #afc1ce;
  border-radius: 50%;
  margin: 0 0.5em;
  transition: all 0.3s ease;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 1em !important;
}
.owl-theme .owl-dots .owl-dot {
  zoom: 1.5 !important;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--third-color) !important;
}

@media only screen and (max-width: 620px) {
  .card-specialist .col-sm-12 {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .docter-1 p,
  .docter-2 p,
  .docter-3 p,
  .docter-4 p {
    line-height: 25px;
  }
  .owl-dots {
    display: none;
  }
  .specialist-1,
  .specialist-2,
  .specialist-3,
  .specialist-4 {
    width: 18rem !important;
    margin-right: 3.9rem;
    margin-left: 0;
    display: block;
  }
}

/* 6. Customer Says */
@media only screen and (max-width: 620px) {
  .section-customer-say {
    height: fit-content;
  }
}
.main-customer-say {
  text-align: center;
  margin-top: 8rem;
}
.main-customer-say h2 {
  color: rgba(49, 130, 183, 1);
}
.main-customer-say h1 {
  font-size: 50px;
  color: #1a252b;
}
.main-customer-say span {
  color: rgba(15, 76, 117, 1);
}
.main-customer-say p {
  color: rgba(26, 37, 43, 0.5);
  font-size: 18px;
  width: 100%;
}
@media only screen and (max-width: 620px) {
  .main-customer-say h2 {
    font-size: 18px;
  }
  .main-customer-say h1 {
    font-size: 28px !important;
  }
  .main-customer-say p {
    width: 95%;
    font-size: 16px !important;
  }
}
/* !CUSTOMER */
.card-customer-say {
  padding-top: 40px;
  padding-bottom: 120px;
  display: flex;
  /* justify-content: space-between; */
}
.main-customer-say {
  text-align: center;
  margin-top: 3rem;
}
.main-customer-say h2 {
  color: rgba(49, 130, 183, 1);
}
.main-customer-say h1 {
  font-size: 50px;
  color: #1a252b;
}
.main-customer-say span {
  color: rgba(15, 76, 117, 1);
}
.main-customer-say p {
  color: rgba(19, 27, 31, 0.671);
  font-size: 18px;
  width: 66%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
}
.text-customer-say {
  width: 100%;
  font-size: 14px;
  margin-bottom: 5px;
}

.card-customer-say-1,
.card-customer-say-2 {
  border-radius: 20px;
  background-color: var(--second-color);
  width: 25rem;
  padding-top: 0 !important;
  color: #d4d4d4;
  display: block;
}
@media only screen and (min-width: 1450px) {
  .customer-1,
  .customer-2 {
    margin-left: 113px !important;
  }
  .card-customer-say-1,
  .card-customer-say-2 {
    width: 30rem;
  }
  .img-card-customer {
    width: 50% !important;
  }
}
@media only screen and (max-width: 620px) {
  .card-customer-say {
    padding-bottom: 50px;
  }
  .card-customer-say-1,
  .card-customer-say-2 {
    width: 18rem;
    margin-right: -100px !important;
  }
  .customer-1,
  .customer-2 {
    margin-left: 35px !important;
  }
  .title-customer p,
  .text-customer-say {
    font-size: 16px !important;
  }
}
@media only screen and (min-width: 1450px) {
  .title-customer p,
  .text-customer-say {
    font-size: 16px !important;
  }
}

.img-card-customer {
  width: 45% !important;
  height: auto;
  float: right;
}
.title-customer h4 {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 0;
}
.title-customer p {
  color: #d4d4d4;
  font-size: 14px;
}
.card-title-customer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.customer-1,
.customer-2 {
  margin-left: 50px;
}
.wrapper-customer {
  padding-bottom: 120px;
}
.rating-customer {
  color: #ff9900;
}
.start-customer {
  color: white;
}
.customer {
  padding-right: 70px !important;
}
/* !FOOTER */
.footer {
  width: 100%;
  background-color: var(--second-color);
}
.content-footer {
  margin-top: 80px;
}

.about-footer img {
  padding-right: 10px;
  margin-bottom: 15px;
}
.brand-footer {
  padding-bottom: 2rem;
}
.brand-footer h2 {
  font-size: 36px;
  color: var(--fourth-color);
}
.brand-footer span {
  font-weight: 800;
  color: var(--fourth-color);
}
.text-footer {
  margin-top: 15px;
  width: 90%;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #ffffff;
}
.main-footer p {
  margin-top: 30px;
  padding-bottom: 15px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
}
.main-footer a {
  color: rgba(255, 255, 255, 0.836);
  font-size: 15px;
  line-height: 50px;
  text-decoration: none;
}
.main-footer a:hover {
  color: #fff;
}
@media only screen and (min-width: 1450px) {
  .main-footer a {
    font-size: 17px;
  }
}
.main-footer li {
  list-style: none;
}
.copyright p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 0;
}
@media only screen and (max-width: 620px) {
  .main-footer ol,
  ul {
    padding-left: 0% !important;
  }
  .main-footer p {
    margin-top: 30px;
    margin-left: 0px;
  }
  .copyright {
    width: 100%;
    padding-bottom: 1rem;
  }
}
